---
dependencies:
  - bootstrap
  - { role: hat-service, when: '"NanoPi NEO" in machine_type.stdout' }
  - dns-dhcp
  - network-interfaces
  - wifi-ap
  - mikegleasonjr.firewall
  - nginx
  - php
  - ansible-postgresql
  - moodle
  - captive-portal
  - webserver-content
  - usb-content
  - sample-content
