#!/bin/bash

# Arguments are of the format:
# old ab:cd:ef:12:34:56 10.129.134.38 android-db8e80208810ccdd

OPERATION=$1
MAC=$2
IP=$3
CLIENT_NAME=$4
# We cannot guarantee that the endpoint will be available when we want to
#  invoke this script (this script runs with an 'init' event at dnsmasq
#  startup, so we ignore the exit status from curl. We don't care for it
#  anyway, so that's no great loss.
curl -d "dhcp_ip=$3" -d "operation=$1" http://127.0.0.1:{{ captiveportal_listen_port }}/handle_dhcp_event || true
