*.pyc
.DS_Store
*.swp
*.retry
.vagrant
*.pem
ci/inventory
ghostdriver.log
ci/terraform.tfstate*
ansible/inventory

~/.virtualenvs/*
makenewimage.sh
ansible/inventory-*
makenewimage.pl
copyimagetosd.pl
