# {{ ansible_managed }}
#
# interfaces(5) file used by ifup(8) and ifdown(8)

source-directory /etc/network/interfaces.d

auto lo
iface lo inet loopback

allow-hotplug eth0
iface eth0 inet dhcp

allow-hotplug {{ client_facing_if }}
iface {{ client_facing_if }} inet static
    address {{ client_facing_if_ip_address }}
    netmask {{ client_facing_if_netmask }}
    hostapd /etc/hostapd/hostapd.conf
    # Need to set locale because our standard locale settings cause problems with
    #  click, and I don't want to fix that right now. See:
    #  https://click.palletsprojects.com/en/7.x/python3/
    pre-up LC_ALL=C.UTF-8 LANG=C.UTF-8 {{ wifi_configurator_virtualenv_dir}}/bin/wifi_configurator --set-country-code
    # Add an extra address to answer captive portal non-private range traffic
    # We were DNAT'ing port 80 traffic previously, but having a real interface
    #  with the address means it can respond to ICMP and http and indeed anything
    #  else we want without a DNAT rule for each. A complete REDIRECT instead of
    #  DNAT affects DHCP.
    up ip addr add {{ non_private_captive_portal_ip }}/24 dev $IFACE label $IFACE:0
    # dnsmasq does not always answer DHCP requests after wifi unplug/replug
    #  so we manage it's start and stop here. We always expect wlan0 to be
    #  running on a functioning system, so this dependency on wlan0 is not
    #  a problem.
    post-up systemctl start dnsmasq
    pre-down systemctl stop dnsmasq
    down ip addr del {{ non_private_captive_portal_ip }}/24 dev $IFACE label $IFACE:0


# To add local wifi connectivity, substitue your wifi ssid and password (below)
#  (Leave these lines uncommented even if you don't want internet connectivity 
#    as it seems that without these lines, the internet connection will take over wlan1)

allow-hotplug {{ eth_facing_if }}
iface {{ eth_facing_if }} inet dhcp
    wpa-ssid "{{ client_ssid }}"
    wpa-psk "{{ client_wifipassword }}"
