# {{ ansible_managed }}
#
# interfaces(5) file used by ifup(8) and ifdown(8)

source-directory /etc/network/interfaces.d

auto lo
iface lo inet loopback

allow-hotplug eth0
iface eth0 inet dhcp

allow-hotplug {{ client_facing_if }}
iface {{ client_facing_if }} inet static
    address {{ client_facing_if_ip_address }}
    netmask {{ client_facing_if_netmask }}
    hostapd /etc/hostapd/hostapd.conf
    pre-up /etc/hostapd/set_wifi_country_code.sh
    # dnsmasq does not always answer DHCP requests after wifi unplug/replug
    #  so we manage it's start and stop here. We always expect wlan0 to be
    #  running on a functioning system, so this dependency on wlan0 is not
    #  a problem.
    post-up systemctl start dnsmasq
    pre-down systemctl stop dnsmasq
