.hidden
{
    display: none;
}

.error {
    height: 130px;
    width: 350px;
}

.info #msg-title
{
    background-color: grey;
    color: floralwhite;
    padding: 5px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
}

.error #msg-title
{
    background-color: crimson;
    color: floralwhite;
    padding: 5px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
}

.error #msg-body
{
    padding: 5px;
}

.error button 
{
    position: absolute;
    left: 10px;
    bottom:5px;
}

.dialog
{
    position: fixed;
    z-index: 999;
    height: 100px;
    width: 400px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    border: 1px solid;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.dialog label
{
    display: block;
    margin: 0;
}

.dialog label>span
{
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.admin-input
{
    width: 250px !important;
}
