---
# devmem2 isn't available on debian, and is trivial, so we just build it

- name: Copy devmem2 source
  copy:
    src: devmem2.c
    dest: /tmp/devmem2.c

- name: build devmem2 binary in expected location
  command: gcc -o /usr/bin/devmem2 /tmp/devmem2.c
  args:
    creates: /usr/bin/devmem2

- name: Install packages to allow building of pillow and psutil and running of OLED
# (looping deprecated in 2.11)
  apt:
#    name: "{{ item }}"
    name: ['libjpeg62-turbo', 'python3-dev', 'libfreetype6', 'libfreetype6-dev', 'libjpeg-dev']
    state: present
#  with_items:
#    - libjpeg62-turbo
#    - python3-dev
#    - libfreetype6
#    - libfreetype6-dev
#    - libjpeg-dev

- name: Make neo battery shutdown virtualenv directory
  file:
    path: "{{ hat_service_virtualenv_dir }}"
    state: directory

# MAX_CONCURRENCY=1 means Pillow doesn't attempt to compile on all
#  CPUs, which can cause out-of-memory errors on 256MB Neos
- name: Setup neo battery shutdown virtualenv (python3)
  pip:
    virtualenv: "{{ hat_service_virtualenv_dir }}"
    virtualenv_python: python3
    name: git+https://github.com/kirkdwilson/MV-WayPoint/NEO_BatteryLevelShutdown.git
  environment:
    MAX_CONCURRENCY: 1

- name: Copy PA pulldown resistor systemd service definition
  template:
    src: "{{ pa_pulldown_enabler_service_name }}.j2"
    dest: "/etc/systemd/system/{{ pa_pulldown_enabler_service_name }}"
    mode: 0644
    owner: root
    group: root
  notify:
    - restart pa pulldown service

- name: Copy neo battery shutdown systemd service definition
  template:
    src: "{{ hat_service_name }}.j2"
    dest: "/etc/systemd/system/{{ hat_service_name }}"
    mode: 0644
    owner: root
    group: root
  notify:
    - restart neo battery shutdown service

# Startup has either already happened, or will happen in the handler
- name: Enable services
  systemd:
    name: "{{ item }}"
    daemon_reload: yes
    enabled: yes
  with_items:
    - "{{ pa_pulldown_enabler_service_name }}"
    - "{{ hat_service_name }}"
