[Unit]
Description=PM2 daemon service
After=captiveportal.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env pm2 start /var/www/enhanced/connectbox-manage/src/index.js

[Install]
WantedBy=multi-user.target
