[main]
# Directory to store the sqlite databases holding aggregated stats
DATABASE_DIRECTORY: /usr/local/access-log-analyzer/var

# Directory to write json stats files
OUTPUT_DIRECTORY: /var/www/waypoint/waypoint_default
