[main]
# Directory to store the sqlite databases holding aggregated stats
DATABASE_DIRECTORY: /usr/local/access_log_analyzer/var

# Directory to write json stats files
OUTPUT_DIRECTORY: /var/www/connectbox/connectbox_default
