{{ connectbox_log_dir }}/*.log {
        rotate 12
        missingok
        compress
        delaycompress
        sharedscripts
        create 0640 www-data adm
        notifempty
        size 1k
        prerotate
                if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
                        run-parts /etc/logrotate.d/httpd-prerotate; \
                fi \
        endscript
        postrotate
                invoke-rc.d nginx rotate >/dev/null 2>&1
                /usr/local/access-log-analyzer/bin/access-log-analyzer.sh --config /usr/local/access-log-analyzer/etc/access-log-analyzer.conf {{ connectbox_access_log }}.1
        endscript
}
{{ connectbox_log_dir }}/*.json {
		monthly
        rotate 12
        missingok
        create 0640 www-data adm
        notifempty
        size 10M
}