[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User={{ gunicorn_user }}
Group={{ gunicorn_group }}
RuntimeDirectory=gunicorn
WorkingDirectory={{ waypoint_app_root }}
Environment='GUNICORN_CMD_ARGS="--capture-output True"'
ExecStart={{ waypoint_virtualenv }}/bin/gunicorn \
          --log-file - \
          --log-level {{ gunicorn_log_level }} \
          --pid {{ gunicorn_pid_file }}  \
          --bind 127.0.0.1:{{ gunicorn_listen_port }} main:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
