---
- name: Get rt8812au wifi driver
  get_url:
    url: https://github.com/RT-coding-team/connectbox-pi/blob/master/ansible/8812au.ko
    dest: /tmp/8812au.ko
  when: connectbox_os == "raspbian" 

- name: Create /lib/modules/5.10.11... directory
  file:
    dest: /lib/modules/5.10.11-v7l+/kernel/drivers/net/wireless/
    mode: 644
    state: directory
  when: connectbox_os == "raspbian" 

- name: Install rt8812au wifi driver
  command: >
    install -p -m 644 
    /tmp/8812au.ko 
    /lib/modules/5.10.11-v7l+/kernel/drivers/net/wireless/
  become: yes
  when: connectbox_os == "raspbian" 

- name: Create rt8812au dependency file
  command: /sbin/depmod -a 5.10.11-v7l+
  become: yes
  when: connectbox_os == "raspbian" 

  
- name: Install hostapd
  apt:
    name: hostapd
    state: present

- name: Install crda so regulatory db is present
  apt:
    name: crda
    state: present
  when: connectbox_os == "raspbian"

- name: Copy hostapd config
  template:
    src: hostapd.conf.j2
    dest: /etc/hostapd/hostapd.conf
    owner: root
    group: root
    mode: 0644
  register: etc_hostapd_hostapd_conf

# wifi-configurator is used on configure_hostapd.sh
- name: Make wifi-configurator virtualenv directory
  file:
    path: "{{ wifi_configurator_virtualenv_dir }}"
    state: directory

- name: Setup wifi-configurator virtualenv (python3)
  pip:
    virtualenv: "{{ wifi_configurator_virtualenv_dir }}"
    virtualenv_python: python3
    name: git+https://github.com/ConnectBox/wifi-configurator.git

- name: Populate /etc/default/crda with regulatory domain override
  template:
    src: etc_default_crda.j2
    dest: /etc/default/crda
    owner: root
    group: root
    mode: 0644

# We're using the ifupdown method instead of the initscript method
#  so this is just an ifdown and ifup operation rather than a
#  service reload hostapd
# Note: this is not a handler because wlan0/hostapd might be broken in later steps
# before the handler would be executed. This ensures that wlan0 will be up and
# hostapd properly running before exiting this role.
- name: Reload hostapd -- Allow ignore errors for devices without WLAN 
  shell: "ifdown {{ client_facing_if }}; sleep 1; ifup {{ client_facing_if }}"
  when: etc_hostapd_hostapd_conf.changed
  ignore_errors: yes
  tags:
    # This task on change is intentionally not a handler; don't trigger ANSIBLE0016
    - skip_ansible_lint

