[Unit]
Description=ConnectBox NEO Battery Shutdown Service
# removed pa-pulldown service as it no longer is relevant after Focal

[Service]
Type=simple
ExecStart={{ hat_service_virtualenv_dir }}/bin/neo_batterylevelshutdown

[Install]
WantedBy=basic.target
