[Unit]
Description=ConnectBox NEO Battery Shutdown Service
After=basic.target {{ pa_pulldown_enabler_service_name }}
# We must not start this service if we cannot enable pulldown on PA pins
#  because it may shutdown non-HAT NEOs
Requires={{ pa_pulldown_enabler_service_name }}

[Service]
Type=simple
ExecStart={{ hat_service_virtualenv_dir }}/bin/neo_batterylevelshutdown

[Install]
WantedBy=basic.target
