[Unit]
Description=ConnectBox NEO Battery Shutdown Service
# pa-pulldown.service NOT required... now handled by RPi.GPIO calls

[Service]
Type=simple
ExecStart={{ hat_service_virtualenv_dir }}/bin/neo_batterylevelshutdown

[Install]
WantedBy=basic.target
