[Unit]
Description=ConnectBox NEO Battery Shutdown Service
After=multi-user.target,{{ pa6_pulldown_enabler_service_name }}
# We must not start this service if we cannot enable pulldown on PA6
#  because it may shutdown non-HAT NEOs
Requires={{ pa6_pulldown_enabler_service_name }}

[Service]
Type=idle
ExecStart={{ battery_tool_virtualenv_dir }}/bin/neo_batterylevelshutdown

[Install]
WantedBy=multi-user.target
