# General configuration
interface={{ client_facing_if }}
logger_syslog=-1
logger_syslog_level=3
logger_stdout=-1
logger_stdout_level=2
ctrl_interface=/var/run/hostapd
ctrl_interface_group=0

# IEEE 802.11 related configuration
ssid={{ ssid }}
utf8_ssid=1

country_code=00

# Enable 802.11n (requires hw_mode=g)
hw_mode=g
ieee80211n=1

channel={{ wireless_channel }}
macaddr_acl=0 # accept unless in deny list

max_num_sta=30
ap_max_inactivity = 240
dissassoc_low_ack=1

ap_isolate=1

# Disable non-OFDM rates given they consume disproportiately large amounts
#  of airtime and aren't required for modern devices
supported_rates=60 90 120 180 240 360 480 540
basic_rates=60 120 240

# IEEE 802.11 specifies two authentication algorithms. hostapd can be
# configured to allow both of these or only one. Open system authentication
# should be used with IEEE 802.1X.
# Bit fields of allowed authentication algorithms:
# bit 0 = Open System Authentication
# bit 1 = Shared Key Authentication (requires WEP)
auth_algs=3

ignore_broadcast_ssid=0
wmm_enabled=1  # QOS

ht_capab=
vht_capab=
ieee80211ac=0
# This is the orignal Github version

