# General configuration
interface=wlan0
logger_syslog=-1
logger_syslog_level=3
logger_stdout=-1
logger_stdout_level=2
ctrl_interface=/var/run/hostapd
ctrl_interface_group=0

# IEEE 802.11 related configuration
ssid={{ ssid }}
utf8_ssid=1

country_code={{ wireless_country_code }}

# Enable 802.11n (requires hw_mode=g)
hw_mode=g
ieee80211n=1

# ACS is not supported on the brcmfmac driver (onboard wifi in rpi3)
channel={{ wireless_channel }}
macaddr_acl=0 # accept unless in deny list

# IEEE 802.11 specifies two authentication algorithms. hostapd can be
# configured to allow both of these or only one. Open system authentication
# should be used with IEEE 802.1X.
# Bit fields of allowed authentication algorithms:
# bit 0 = Open System Authentication
# bit 1 = Shared Key Authentication (requires WEP)
auth_algs=3

ignore_broadcast_ssid=0
wmm_enabled=1  # QOS

{% if wireless_adapter_capabilities != "__default__" %}
ht_capab={{ wireless_adapter_capabilities }}
{% else %}
{#
  The default is different to a blank value, so comment when we have a default
   value rather than set it to the blank value
#}
#ht_capab=
{% endif %}

