[Unit]
Description=captiveportal daemon
After=network.target

[Service]
PIDFile={{ captiveportal_pid_file }}
User={{ captiveportal_user }}
Group={{ captiveportal_group }}
RuntimeDirectory=captiveportal
WorkingDirectory={{ waypoint_log_dir }}
Environment='GUNICORN_CMD_ARGS="--capture-output True"'
ExecStart={{ captiveportal_virtualenv_dir }}/bin/gunicorn \
          --log-file - \
          --log-level {{ captiveportal_log_level }} \
          --pid {{ captiveportal_pid_file }}  \
          --bind 127.0.0.1:{{ captiveportal_listen_port }} captiveportal:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
