
server {
    listen *:80 default_server;
    server_name _;
    index index.html index.htm;
    access_log {{ connectbox_log_dir }}/captive-portal-access.log;
    error_log {{ connectbox_log_dir }}/captive-portal-error.log error;
    rewrite_log on;
    
    location / {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;
      proxy_pass http://127.0.0.1:{{ gunicorn_listen_port }};
    }
    
    # Bounce to the real server definition to save the captive portal
    #  manager from needing to find and store the real hostname
    location /to-hostname {
      return 302 http://$hostname;
    }
}
