server {
    listen 80;
    # Wildcard .local i.e. respond to anything that comes in on that domain
    #  which allows us to avoid calculating the mDNS name
    server_name {{connectbox_default_hostname}} .local thewell connectbox;
    root {{ connectbox_enhanced_content_root }};
    index index.html;
    error_page 404 /index.html;
    access_log {{ connectbox_access_log }};
    error_log {{ connectbox_error_log }} error;
    rewrite_log on;


{{ nginx_chat_block }}
{{ nginx_admin_block }}

	location /admin {
      alias {{ connectbox_enhanced_admin_root }}/;	
	}


    location /content/ {
      alias {{ connectbox_usb_files_root }}/;
      # We need to override the default index.html because that file will be
      #  present for static sites, and if it exists, it stops the icon-only
      #  interface from rendering
      index .should_not_match_anything.html;
      autoindex on;
      autoindex_format json;
      charset utf-8;
      charset_types application/json;
      # Never cache the indexes
      location ~ /$ {
        expires -1;
      }
    }

    location ~ \.json$ {
      expires -1;
    }

    location / {
      index index.html;
    }
}
