server {
   listen *:80 default_server;

   server_name _; # This is just an invalid value which will never trigger on a real hostname.

   return 302 http://biblebox.local;
}



server {

  listen 80;
  server_name biblebox.local;
  index index.php index.htm index.html;
  
  rewrite ^([^\.]*[^\/])$ $1/ break;

  root /var/www/biblebox;

  error_page 404 /biblebox_default/content/index.html;

  rewrite_log on;
  access_log /var/log/nginx/default-access.log;
  error_log /var/log/nginx/default-error.log;


      # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
      
      location ~ \.php$ {
        root /var/www/biblebox/biblebox_default/content;
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        
      }

location /shared/ {
    
    autoindex on;

    root /media/usb0;
    try_files $uri $uri/ @sharedfallback;

}

location @sharedfallback {

    autoindex on;

    root /var/www/biblebox/biblebox_default;
    try_files $uri $uri/ =404;

}


location /admin {
 root /var/www/biblebox/biblebox_default/content;
}

location / {

    root /media/usb0/content;
    try_files $uri $uri/index.html @fallback;
}


location @fallback {

    root /var/www/biblebox/biblebox_default/content;
    try_files $uri $uri/ =404;
}


}