{
	"Brand": "{{ connectbox_default_hostname }}",
	"Logo": "{{ enhanced_interface_logo }}",
	"Image": "{{ lcd_logo }}",
	"Font": {{ lcd_font_size }}, 
	"pos_x": {{ lcd_x_position}},
	"pos_y": {{ lcd_y_position}},
	"Device_type": "{{ device_type }}",
	"Enable_MassStorage": "{{ enable_mass_storage }}",
	"usb0NoMount": {{ usbNoMount }},
	"lcd_pages_main": {{ lcd_pages_main }},
	"lcd_pages_info": {{ lcd_pages_info }},
	"lcd_pages_battery": {{ lcd_pages_battery }},
	"lcd_pages_multi_bat": {{ lcd_pages_multi_bat }},
	"lcd_pages_memory": {{ lcd_pages_memory }},
	"lcd_pages_stats_hour_one": {{ lcd_pages_stats_hour_one }},
	"lcd_pages_stats_hour_two": {{ lcd_pages_stats_hour_two }},
	"lcd_pages_stats_day_one": {{ lcd_pages_stats_day_one }},
	"lcd_pages_stats_day_two": {{ lcd_pages_stats_day_two }},
	"lcd_pages_stats_week_one": {{ lcd_pages_stats_week_one }},
	"lcd_pages_stats_week_two": {{ lcd_pages_stats_week_two }},
	"lcd_pages_stats_month_one": {{ lcd_pages_stats_month_one }},
	"lcd_pages_stats_month_two": {{ lcd_pages_stats_month_two }},
	"lcd_pages_admin": {{ lcd_pages_admin }},
	"g_device": "{{ lcd_g_device }}",
	"otg": {{ otg_enable }},
	"server_url": "{{ server_url }}",
	"server_authorization": "{{ server_authorization }}",
	"server_sitename": "{{ server_sitename }}",
	"server_siteadmin_name": "{{ server_siteadmin_name }}",
	"server_siteadmin_email": "{{ server_siteadmin_email }}",
	"server_siteadmin_phone": "{{ server_siteadmin_phone }}"
}