---
- name: Install nginx
  apt:
    name: nginx-light
    state: present


- name: Make nginx logs directory
  file:
    state: directory
    path: "/var/log/connectbox/"
    owner: www-data
    group: www-data
    recurse: yes
    mode: 0755

- name: Remove OS default nginx vhost
  file:
    path: "{{ nginx_enabled_vhosts_path }}/default"
    state: absent

# Remove old geerlingguy.nginx vhosts configuration
# This task can be removed once we have transitioned all our connectbox
# instances to this multi-vhost definition arrangement
- name: Remove old-style nginx vhost definition
  file:
    path: "{{ nginx_enabled_vhosts_path}}/vhosts.conf"
    state: absent
  notify: restart nginx

- name: Copy nginx config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: 0644
    owner: root
    group: root
  notify: restart nginx

- name: Copy vhost configs
  template:
    src: "{{ item.src }}"
    dest: "{{ nginx_available_vhosts_path }}/{{ item.dest }}"
    mode: 0644
    owner: root
    group: root
  notify: restart nginx
  with_items:
    - { src: "{{ nginx_vhost_file_moodle }}.j2", dest: "{{ nginx_vhost_file_moodle }}" }
#    - { src: "{{ nginx_vhost_file_captive_portal }}.j2", dest: "{{ nginx_vhost_file_captive_portal }}" }
#    - { src: "{{ nginx_vhost_file_icon_only }}.j2", dest: "{{ nginx_vhost_file_icon_only }}" }
#    - { src: "{{ nginx_vhost_file_static_site }}.j2", dest: "{{ nginx_vhost_file_static_site }}" }
# TODO: Need to reactivate the captive portal and content serving

#- name: Create nginx active vhost symlink for captive portal vhost
#  file:
#    src: "{{ nginx_available_vhosts_path }}/{{ nginx_vhost_file_captive_portal }}"
#    dest: "{{ nginx_enabled_vhosts_path }}/{{ nginx_vhost_file_captive_portal }}"
#    state: link
#    force: yes
#  notify: restart nginx

- name: Create nginx active vhost symlink for Moodle vhost
  file:
    src: "{{ nginx_available_vhosts_path }}/{{ nginx_vhost_file_moodle }}"
    dest: "{{ nginx_enabled_vhosts_path }}/{{ nginx_vhost_file_moodle }}"
    state: link
    force: yes
  notify: restart nginx

- name: Create nginx active vhost symlink for selected interface
  file:
    src: "{{ nginx_available_vhosts_path }}/{{ interface_type_files[interface_type] }}"
    dest: "{{ nginx_enabled_vhosts_path }}/connectbox_interface.conf"
    state: link
    force: yes
  notify: restart nginx

- name: Ensure nginx is started and enabled to start at boot
  service:
    name: nginx
    state: started
    enabled: yes
