# Uncomment the line below, replacing the first field with the IP address
#  of your Raspberry Pi, and replacing the wireless_country_code with your
#  two-letter country code (see https://git.kernel.org/cgit/linux/kernel/git/sforshee/wireless-regdb.git/tree/db.txt
#  for a list of valid values)
#
#192.168.20.183 ansible_user=pi wireless_country_code=AU
