---

# For RPi modules (these have internal wifi)
# Use selected client_facing_if specified wlan in two files

- name: update cli.py
  replace:
    path: /usr/local/connectbox/wifi_configurator_venv/lib/python3.9/site-packages/wifi_configurator/cli.py
    regexp: 'wlan0'
    replace: '{{ client_facing_if }}'
  when: connectbox_os == "raspbian"

- name: update ConnectBoxManage.sh
  replace:
    path: /usr/local/connectbox/bin/ConnectBoxManage.sh
    regexp: 'wlan0'
    replace: '{{ client_facing_if }}'
  when: connectbox_os == "raspbian"

